.git
.github
node_modules
vendor
/storage/media-library
/storage/app/public
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
/public/build
.env
.env.*
!.env.render.example
tests
raport-rozbieznosci-migracji.csv
*.sql
